* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

.btn {
  width: 100%;
  border: none;
  background-color: cadetblue;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}


.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 1rem;
}

.square-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  width: 30px;
  height: 30px;
}
.square-icon .fa-chevron-left {
  font-size: 0.5rem;
}

.sidebar-buttons {
  padding: 0 1rem;
  list-style: none;
}
.sidebar-buttons .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #85CEA2;
}

.sidebar-buttons .btn.active {
  background-color: #24232A;
}

.sidebar-buttons .btn .btn-text {
  flex-grow: 1;
  text-align: left;
}




