* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

.btn {
  width: 100%;
  border: none;
  background-color: cadetblue;
  color: white;
}

.items-center {
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  margin: auto;
  overflow: auto;
  background-color: #313037;
  color: white;
}

.sidebar-header, 
.sidebar-user, 
.btn  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
}
.sidebar-header {
  padding: 1.1rem 1rem;
}
.sidebar-user {
  margin: 1rem;
  padding-top: 1rem;
  border-top: 1px solid white;
}

.square-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  width: 30px;
  height: 30px;
}
.square-icon .fa-chevron-left {
  font-size: 0.5rem;
}

.sidebar-buttons {
  padding: 0 1rem;
  list-style: none;
  flex-grow: 1;
}
.sidebar-button-item {
  margin: 0.5rem 0;
}
.sidebar-buttons .btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.sidebar-buttons .btn.active {
  color: #85CEA2;
  background-color: #24232A;
}
.sidebar-buttons .btn .btn-text {
  flex-grow: 1;
  text-align: left;
}

.sidebar-more {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  padding: 1rem;
}




